.app-sidebar {
    width: 35rem;
    height: 90vh;
    background-color: #1d1d1d;
    padding: 2rem;
    overflow-y: scroll;
}

/* Scrollbar styling */
.app-sidebar::-webkit-scrollbar {
    width: 10px;
}

.app-sidebar::-webkit-scrollbar-track {
    background: rgba(59, 59, 59, 0.3);
    border-radius: 10px;
}

.app-sidebar::-webkit-scrollbar-thumb {
    background: #e5e5e5;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.app-sidebar::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;
}

.app-sidebar-title {
    font-size: 2.4rem;
    font-weight: 500;
}

.app-sidebar-title-section {
    font-size: 1.4rem;
    color: #cfcfcf;
    padding: 2.4rem 0;
}

.app-sidebar-title-color-description {
    font-size: 1rem;
    color: #cfcfcf;
    padding: 0 0 0.6rem 0;
}

.app-sidebar-section-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}