.color-picker {
    width: 135px;
    height: 35px;
    border-radius: 6px;
    position: relative;
    border: .8px solid transparent;
    transition: border-color 0.4s ease;
}

.color-picker:hover {
    border: .8px solid #cfcfcf;
}

.color-picker-input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    bottom: -10px;
    left: 0;
}

.color-picker-btn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1.4rem;
}

.hex-code {
    font-size: 14px;
}

.color-picker-copy {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 33px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.color-picker-copy:hover {
    background-color: #cfcfcf;
}